<md-sidenav-layout fullscreen>
  <md-sidenav #appSidenav class="sj_width_200 mdl-color--grey-100">
    <button md-button (click)="appSidenav.close()" class="sj_width_200 sj_btn_marb_40 mdl-color--blue-500 mdl-color-text--grey-100">
      {{sidenavClose}}
    </button>
    <div *ngFor="let sideLink of sideNavigationLinks"> <!-- links to be visible to everyone -->
      <a routerLink="{{sideLink.destRoute}}">
        <button md-button (click)="appSidenav.close()" [class.mdl-color--grey-300]="sideLink.isActive" class="sj_width_200 mdl-color--grey-100 mdl-color-text--blue-500">
          {{sideLink.displayText}}
        </button>
      </a>
    </div>
    <div *ngIf="auth.authenticated()"> <!-- other authenticated links -->
      <a routerLink="{{sideNavProfileLink.destRoute}}">
        <button md-button (click)="appSidenav.close()" [class.mdl-color--grey-300]="sideNavProfileLink.isActive" class="sj_width_200 mdl-color--grey-100 mdl-color-text--blue-500">
          {{sideNavProfileLink.displayText}}
        </button>
      </a>
      <a routerLink="{{sideNavBloodReqLink.destRoute}}">
        <button md-button (click)="appSidenav.close()" [class.mdl-color--grey-300]="sideNavBloodReqLink.isActive" class="sj_width_200 mdl-color--grey-100 mdl-color-text--blue-500">
          {{sideNavBloodReqLink.displayText}}
        </button>
      </a>
    </div>
    <div *ngIf="auth.authenticated() && auth.isAdmin()"> <!-- admin div -->
      <a routerLink="{{sideNavAdminLink.destRoute}}">
        <button md-button (click)="appSidenav.close()" [class.mdl-color--grey-300]="sideNavAdminLink.isActive" class="sj_width_200 mdl-color--grey-100 mdl-color-text--blue-500">
          {{sideNavAdminLink.displayText}}
        </button>
      </a>
    </div>
    <div> <!-- login logout div to be at the bottom -->
      <a *ngIf="!auth.authenticated()" routerLink="{{sideNavLoginLink.destRoute}}">
        <button md-button (click)="auth.login()" [class.mdl-color--grey-300]="sideNavLoginLink.isActive" class="sj_width_200 mdl-color--grey-100 mdl-color-text--blue-500">
          {{sideNavLoginLink.displayText}}
        </button>
      </a>
      <a *ngIf="auth.authenticated()" routerLink="{{sideNavLogoutLink.destRoute}}">
        <button md-button (click)="auth.logout()" [class.mdl-color--grey-300]="sideNavLogoutLink.isActive" class="sj_width_200 mdl-color--grey-100 mdl-color-text--blue-500">
          {{sideNavLogoutLink.displayText}}
        </button>
      </a>
    </div>
  </md-sidenav>
  <md-toolbar class="mdl-shadow--2dp mdl-color--grey-50">
    <button md-icon-button (click)="appSidenav.open()" class="mdl-color--grey-50 mdl-color-text--blue-500">
      <md-icon>menu</md-icon>
    </button>
    <!--<a routerLink="">-->
      <span class="mdl-color-text--blue-500 sj_app_background sj_app_title_size">
      <!--<span class="mdl-color-text&#45;&#45;blue-500">-->
        <!--&nbsp;{{appTitle}}-->
      </span>
    <!--</a>-->
  </md-toolbar>
  <md-toolbar>
    <div class="sj_hr_center">
      <a routerLink="/blood-requirement">
        <button md-button class="mdl-color--primary-contrast mdl-color-text--accent sj_btn_border">
          <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
          &nbsp;{{navBloodReq}}
        </button>
      </a>
    </div>
  </md-toolbar>
  <div class="sj_min_height100">
    <router-outlet></router-outlet>
  </div>
  <footer class="sj_mart_20 mdl-color--blue-grey-700 mdl-color-text--grey-100">
    <div class="container sj_column_content">
      <div>
        <div>Link 1</div><div>Link 2</div><div>Link 3</div>
      </div>
      <div>
        <div>Link 1</div><div>Link 2</div><div>Link 3</div>
      </div>
      <div>
        <div>Link 1</div><div>Link 2</div><div>Link 3</div>
      </div>
      <div>
        <div>Link 1</div><div>Link 2</div><div>Link 3</div>
      </div>
    </div>
  </footer>
</md-sidenav-layout>
